#sidebar {
  padding: 0 16px;
  width: 300px;
  border-right: 1px solid #ddd;
  background-color: #f2f2f2;
  height: 100vh;
}
.menu-item {
  padding: 8px 0;
}
#detail {
  position: relative;
  padding: 16px;
  flex: 1 0 auto;
}
.active {
  background-color: #fff;
  color: #118fe2;
}
.pending {
  background-color: darkorange;
}
.loading {
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #fff, $alpha: 0.5);
  }
}
.searching {
  padding-left: 12px;
}